       .collapse-toggle {
            background-color: #FF6060;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 10px;
            width: 90%;
            height: 50px;
            text-align: left;
            font-weight: 700;
            font-size: 20px;
            outline: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding-right: 25px;
            img{
                display: flex;
                cursor: pointer;
            }
        }

        .arrow.up {
            transform: translateY(-50%) rotate(-180deg);
            transition: transform 0.3s ease;
        }
        .arrow.down {
            transition: transform 0.3s ease;
        }
        .collapse-content {
            
            width: 90%;
            background-color: #F6F6F673;
            
        }
    